@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    background-color: #000000;
    
    /* background: rgb(0, 0, 0); */
}
body{
    width: 86%;
    margin: 0px auto;
    
}

/* nav bar style */

nav{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    font-size: 2.25rem;
    color: rgb(230, 83, 60);
    font-weight: 800;

}
.nav-btn{

display: flex;
gap: 1rem;
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 39px;

}
nav div button{
    border-radius: 46px;
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 1.15rem;
padding: 8px 20px 8px 20px;
font-weight: 600;
border: none;
}
#btn-first{
background: rgb(230, 83, 60);
}
.hamburger{
    color: aliceblue;
    display: none;
}
