@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-size: 1.15rem;    
    /* background: rgb(0, 0, 0); */
}

/* Shared Style */
.common-text, td{
    color: rgba(255, 255, 255, 0.5);
    
font-size: 16px;
font-weight: 400;
}
main, section, nav{
    width: 90%;
    margin: 0 auto;
}
body{
    margin: 0px auto;
    background-color: #000000;
    color: rgb(255, 255, 255);
    
}
.common-title{
    color: rgb(255, 255, 255);
font-size: 3rem;
font-weight: 900;
}
.common-sub-title{
    color: rgb(255, 255, 255);
font-size: 1.15rem;
font-weight: 600;
margin-top: 15px;
margin-bottom: 15px;
}
.habit{
    text-align: center;
    margin-top: 30px;
}
.header{
    /* background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%); */
}
.habit-card{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.habit-card  img{
    border-radius: 50%;
}
/* nav bar style */

nav{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%); */
}
.nav-title{
    font-size: 2.25rem;
    color: rgb(230, 83, 60);
    font-weight: 800;

}
.nav-btn{

display: flex;
gap: 1rem;
border: 1px solid rgba(255, 255, 255, 0.1);
background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
border-radius: 39px;
}
nav div button{
    border-radius: 46px;
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 1.15rem;
padding: 8px 20px 8px 20px;
font-weight: 600;
background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
border: none;
}
#btn-first{
background: rgb(230, 83, 60);
}
.hamburger{
    color: aliceblue;
    display: none;
}
/* Banner Style */
.banner{
    margin-top: 50px;
    display: flex;
    gap: 167px;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.banner-title{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 5rem;
    margin-bottom: 30px;
    font-weight: 900;
}
.banner-btn{
    border-radius: 42px;
    font-size: 18px;
    font-weight: 600;
    /* background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%); */
    padding: 16px 40px 16px 40px;
    border: 0;
    margin-top: 20px;
    background: rgb(230, 83, 60);
    color: rgb(255, 255, 255);
}
#download-btn{
    color: rgb(255, 255, 255);
    border-radius: 42px;
    margin-top: 20px;
    font-size: 18px;
    margin-left: 20px;
    font-weight: 600;
    padding: 16px 40px 16px 40px;
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
    border: 1px solid rgb(255, 255, 255);  
}
.banner-details{
    position: relative;
}
.banner-pic{
    padding-right: 200px;
}
.b-image{
    min-height: 580px;
}

.five{
    width: 200px;
    height: 100px;
    opacity: 0.8;
    bottom: 400px;
    background: transparent;
    left: 200px;
    position: absolute;

}
.five-title{
    padding: 12px 20px;
    font-size: 2.5rem;
    border-radius: 12px;
    margin-top: 5px;
    letter-spacing: ;
    margin-bottom: 5px;
    font-weight: 700;
}
.three-fifty{
    display: flex;
    opacity: 0.8;
    border-radius: 12px;
    position: absolute;
    align-items: center;
    bottom: 40px;   
}
.circle{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: none;
    background: rgb(230, 83, 60);
}


/* habit */
#h-desc{
    margin-top: 20px;
    margin-bottom: 20px;
}

/* run */
#run{
    display: flex;
    align-items: center;
    border-radius: 1.15rem;
background-color: rgb(34, 34, 34);
    margin-top: 50px;
    padding: 40px;
}
.run-detail, .run-img{
    max-width: 100%;
    background-color: ;
}
.run-detail, .run-img {
    flex: 1; 
    max-width: 50%; 
}

.run-img img {
    width: 100%; 
    border-radius: 1.15rem;
    height: auto; 
}
#run  p {
    margin-top: 20px;
    margin-bottom: 20px;
}
/* bmi section */
.bmi{
    text-align: center;
    margin-top: 50px;
}

/* Team Section */
.team{
    margin-top: 30px;
}
.team-card{
    margin-top: 30px;
    border-radius: 18px;
   
    padding: 30px;
background: rgba(255, 255, 255, 0.1);
display: grid;
justify-content: space-between;
grid-template-columns: repeat(3,1fr);
}
.team-card img{
width: 400px;
height: 300px;
border-radius: 18px;

}
.single-card{
    position: relative;
    margin: 0px auto;
    margin-top: 20px;
}
.team-card h5{
    position: absolute;
    bottom: 60px;
    left: 25px;
}
.team-card div p{
    position: absolute;
    bottom: 40px;
    left: 25px;
}
.footer-card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 250px;
    justify-content: space-around;
    gap: 30px;
    align-items: center;
    width: 80% ;
     
    margin: 30px auto;
}
.footer-card h3{{
    margin-top: 20px;
}}
#footer{
    background: rgba(255, 255, 255, 0.1);
   width: 100%; !important;
  margin-top: 30px;
  margin-bottom: 30px;
   border-radius: 18px;
}
.footer-card > h2{
font-weight: 600;
font-size: 2rem;
}
/* table */
#calculator{
   background:  #222222;   
   border-radius: 12px;
}
table{
    width: 350px;
    margin-top: 25px;
    border-collapse: collapse;
    margin-bottom: 40px;
    
}
.bmi-body{
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 40px;
}
.bmi-card{
    flex-grow: 1;
}

 th, td{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-collapse: inherit;
    padding: 10px 5px;
}
.form{
    display: grid;
    margin-top: 20px;
    grid-template-columns: repeat(2,1fr);
}
input, select {
    padding: 10px 20px;
    border-radius: 8px;
    margin-top: 10px;
    margin-left: 10px;

background: rgba(255, 255, 255, 0.1);
}
#activity{
    grid-column: 1 / -1; 
}